body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0 10%;
}

.quantico-regular {
    font-family: "Quantico", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .quantico-bold {
    font-family: "Quantico", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .quantico-regular-italic {
    font-family: "Quantico", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .quantico-bold-italic {
    font-family: "Quantico", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .chakra-petch-light {
    font-family: "Chakra Petch", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .chakra-petch-regular {
    font-family: "Chakra Petch", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .chakra-petch-medium {
    font-family: "Chakra Petch", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .chakra-petch-semibold {
    font-family: "Chakra Petch", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .chakra-petch-bold {
    font-family: "Chakra Petch", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .chakra-petch-light-italic {
    font-family: "Chakra Petch", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .chakra-petch-regular-italic {
    font-family: "Chakra Petch", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .chakra-petch-medium-italic {
    font-family: "Chakra Petch", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .chakra-petch-semibold-italic {
    font-family: "Chakra Petch", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .chakra-petch-bold-italic {
    font-family: "Chakra Petch", serif;
    font-weight: 700;
    font-style: italic;
  }
  

.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
}

.color-container {
    width: 100%;
  }

.color-panel {
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.cool-orange {
    background-color: #eb7a34;
    color: white;
}

.fashion-pink {
    background-color: #eb34eb;
    color: white;
}

.balsamic-herb {
    background-color: #34eb6e;
    color: white;
}

.sad-bee {
    background-color: #ebd834;
    color: white;
}

.font-panel {
    width: 45%;
    display: inline-block;
  }
  
  .font-label {
    font-size: 20px;
    text-decoration: underline;
  }
  
  .regular {
    font-style: normal;
  }
  
  .italic {
    font-style: italic;
  }
  
  .bold {
    font-weight: 700;
  }

  .quantico {
    font-family: "quantico", sans-serif;
  }

  .chakra-petch {
    font-family: "Chakra Petch", times-new-roman;
  }

  .mountains-of-christmas {
    font-family: "Mountains Of Christmas";
  } 

  h1 {
    font-family: "Mountains Of Christmas";
    font-size: 26px;
    font-weight: 700;  
    }

  h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: "Quantico";
  }

  p{
    font-weight: 400;
    font-size: 14px;
    font-family: "Chakra Petch";
  }
